{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  // La regla no-extra-semi sirve para evitar la duplicación de ; al final de cada instrucción
  "rules": {
    "no-extra-semi": 2
  },
  "env": {
    "es6": true
  }
}